* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #152427;
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 54px;
    min-width: 173px;
    height: 57px;
    line-height: 57px;
    border-radius: 40px;
    color: #fff;
    background-color: #143C3C;
    text-align: center;
    /* Paragraph/h2 18px medium */
    font-size: 1.8rem;
    font-weight: 500;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* Phần header */
.header {
    font-family: "Public Sans", sans-serif;
}

.header-top {
    margin-top: 28px;
    padding-bottom: 13px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    /* chiều cao "border" */
    width: 100%;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
}

.nav__list {
    display: flex;
}

.nav__item {
    position: relative;
}

.nav__link {
    padding: 4px 19px;
    /* Paragraph/h2 18px medium */
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    /* 155.556% */
    color: #575D5E;
}

.nav__link:hover,
.nav__link--active {
    color: var(--primary-color);
    text-shadow: 1px 0 0 currentColor;
}

.nav__link--active::after {
    position: absolute;
    left: 19px;
    bottom: -27px;
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background: #143C3C;
}

/* Phần hero */
.hero {
    margin: 28px;
    padding: 32px 0 60px;
    position: relative;
    display: flex;
    column-gap: 76px;
}

.hero__content {
    margin-top: 43px;
}

.hero__heading {
    width: 368px;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: var(--primary-color);
}

.hero__desc {
    margin-top: 20px;
    width: 341px;
    /* Paragraph/h2 18px medium */
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    /* 155.556% */
    color: #575D5E;
}

.hero__cta {
    display: flex;
    margin-top: 42px;
}

.hero .watch-video {
    position: relative;
    margin-left: 36px;
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero .watch-video .load-video {
    position: absolute;
    top: 0;
    left: 0;
}

.hero .watch-video .play-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 43px;
    border-radius: 50%;
    background: #83A17D;
}

.hero .watch-video span {
    margin-left: 15px;
    white-space: nowrap;
    /* Paragraph/h3 18px bold */
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    /* 166.667% */
    color: #152427;
}

.hero__media {
    position: relative;
    display: flex;
    column-gap: 20px;
}

.hero__media::after {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4DBB9A;
    filter: blur(137px);
}

.hero__image {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
    z-index: 1;
}

.hero__image:nth-of-type(2) {
    margin-top: 77px;
}

/* Làm phần trang trí cho hero */
.hero-hoa {
    z-index: 2;
}

.hero-hoa__top,
.hero-hoa__bottom {
    display: flex;
    position: absolute;
}

.hero-hoa__top {
    top: 0;
    right: 273px;
}

.hero-hoa__bottom {
    bottom: 0;
    right: 31px;
}

.hero-hoa__extra-top {
    position: absolute;
    top: 3px;
    left: -46px;
}

.hero-hoa__extra-bottom {
    position: absolute;
    bottom: 1px;
    right: -46px;
}

/* Làm cho cọng dây bên dưới nằm bên dưới extra */
.hero-hoa__vector-bottom {
    rotate: 180deg;
}

/* Làm phần logo-section */
.logo-section {
    margin-top: 42px;
}

.logo-inner {
    padding: 76px 121px;
    border-radius: 100px;
    background: #E2EDDF;
}

.logo-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.logo-section__block-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-section__google {
    font-size: 3.1rem;
    font-weight: 500;
    color: #143C3C;
}

.logo-section__slack {
    font-size: 3.2rem;
    font-weight: 600;
    color: #143C3C;
}

.logo-section__agworld {
    font-size: 2.6rem;
    font-weight: 400;
    color: #163C35;
}

.logo-section__riotinto {
    font-family: "Sonsie One";
    font-size: 2.3rem;
    font-weight: 400;
    color: #143C3C;
}

.logo-section__heroku {
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
    color: #143C3C;
}