* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #152427;
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 54px;
    min-width: 173px;
    height: 57px;
    line-height: 57px;
    border-radius: 40px;
    color: #fff;
    background-color: #143C3C;
    text-align: center;
    /* Paragraph/h2 18px medium */
    font-size: 1.8rem;
    font-weight: 500;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* Phần header */
.header {
    font-family: "Public Sans", sans-serif;
}

.header-top {
    margin-top: 28px;
    padding-bottom: 13px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    /* chiều cao "border" */
    width: 100%;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
}

.nav__list {
    display: flex;
}

.nav__item {
    position: relative;
}

.nav__link {
    padding: 4px 19px;
    /* Paragraph/h2 18px medium */
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    /* 155.556% */
    color: #575D5E;
}

.nav__link:hover,
.nav__link--active {
    color: var(--primary-color);
    text-shadow: 1px 0 0 currentColor;
}

.nav__link--active::after {
    position: absolute;
    left: 19px;
    bottom: -27px;
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background: #143C3C;
}